.top{
    margin:auto;
    width: 35%;
    border:15px solid rgb(245, 239, 239);
    height:370px;
    
}
h1{
    text-align: center;
}
.middle{
    background-color: rgb(217, 252, 94);
    height:50%;
}
.image{
    width:100%;
    padding-top:10%;
}
.profile{
    
    height:60%;
    width:35%;
    margin: auto;
    background-color:white;
    border:2px solid black;

}
#yashas{
    width:100%;
    height:100%;
}
.middle p{
    text-align: center;
    font-weight :bold;
    width:100%;
    font-size:10px;
    line-height: 1px;
}
.top h4 {
    padding-left: 10px;
    line-height: 1px;
}
.last{
    display: inline-block;
    white-space: pre;
}